# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.nfs.2005102a.307c
app/composables/.nfs.20051029.307c
app/plugins/.nfs.20051028.307c
server/api/events/\[eventId]/gallery/.nfs.2005102b.307c
server/api/selections/\[selectionId]/items/.nfs.2005102c.307c
server/utils/.nfs.2005102d.307c
.nfs.2005102a.307c
