services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: migi987/app-niebieskie-aparaty:13.0
    ports:
      - "3333:3333"
    # deploy:
    #   resources:
    #     limits:
    #       cpus: "0.5"
    #       memory: 512M
    environment:
      - NUXT_SESSION_PASSWORD=${NUXT_SESSION_PASSWORD}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      # - NUXT_ADMIN_PASSWORD=${NUXT_ADMIN_PASSWORD}
      # - NODE_ENV=production
      - NITRO_PORT=3333
    restart: unless-stopped
    command: ["node", ".output/server/index.mjs"]
    # security_opt:
    #   - no-new-privileges
    # - seccomp=default
    #   - apparmor=docker-default
    # cap_drop:
    #   - ALL
    # read_only: true
