@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

/* Nuxt UI custom theme */
@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Italiana', serif;

  --ui-primary: #a8a29e;
  --ui-secondary: #121212;
  --ui-muted: #f5f5f5;
  --ui-border: #ddd;
  --ui-text-muted: #989898;

  /* --ui-radius: 0.0rem; */
  --ui-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Additional custom properties */
:root {
  --secondary-color: #121212;
  --accent-color: #f5f5f5;
}

/* Global utility class */
.font-italiana {
  font-family: var(--font-serif);
}
